In [35]:
# Import dependencies 
import pandas as pd

# Import CSVs
schools_csv = "Resources/schools_complete.csv"
students_csv = "Resources/students_complete.csv"

# Read CSVs as data frames
school_df = pd.read_csv(schools_csv)
students_df = pd.read_csv(students_csv)

# Merge school and student data frames into single data frame
py_schools_df = pd.merge(school_df, students_df, on="school_name")
py_schools_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [36]:
# Rename Columns
py_schools_df.columns
renamed = py_schools_df.rename(columns ={
                     'school_name':'School Name', 
                     'type': 'Type', 
                     'size':'Size', 
                     'budget':'Budget', 
                     'student_name':'Student Name', 
                     'gender':'Gender', 
                     'grade':"Grade", 
                     'reading_score':'Reading Score', 
                     'math_score':"Math Score"})
renamed

,School ID,School Name,Type,Size,Budget,Student ID,Student Name,Gender,Grade,Reading Score,Math Score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [37]:
# Look for titles/degrees
doctors = renamed.loc[(renamed["Student Name"].str.contains("Dr."))|
                      (renamed["Student Name"].str.contains("DDS"))|
                      (renamed["Student Name"].str.contains("Mr."))|
                      (renamed["Student Name"].str.contains("Mrs."))|
                      (renamed["Student Name"].str.contains("Ms."))|
                      (renamed["Student Name"].str.contains("DVM"))|
                      (renamed["Student Name"].str.contains("MD"))|
                      (renamed["Student Name"].str.contains("PhD")), :]
doctors

,School ID,School Name,Type,Size,Budget,Student ID,Student Name,Gender,Grade,Reading Score,Math Score
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
15,0,Huang High School,District,2917,1910635,15,Dr. Jordan Carson,M,11th,94,88
57,0,Huang High School,District,2917,1910635,57,Madeline Snyder MD,F,9th,97,56
66,0,Huang High School,District,2917,1910635,66,Mr. Dylan Taylor MD,M,10th,77,93
74,0,Huang High School,District,2917,1910635,74,Dr. Scott Gill,M,10th,85,85
...,...,...,...,...,...,...,...,...,...,...,...
39012,14,Thomas High School,Charter,1635,1043130,39012,Kimberly Brown MD,F,10th,93,83
39044,14,Thomas High School,Charter,1635,1043130,39044,Angela Garcia DDS,F,9th,80,68
39055,14,Thomas High School,Charter,1635,1043130,39055,William Foster PhD,M,12th,87,79
39105,14,Thomas High School,Charter,1635,1043130,39105,Dr. Kimberly Page,F,9th,88,85
39142,14,Thomas High School,Charter,1635,1043130,39142,Deborah Higgins DDS,F,10th,96,83

In [85]:
# DISTRICT SUMMARY
###################

# Find total number of schools
Schools = renamed["School ID"].unique()
Total_Schools = len(Schools)

# Find total number of students
Total_Students = renamed["Student Name"].count()

# Find Total Budget
school_budget = renamed["Budget"].unique()
Total_Budget = sum(school_budget)

# Find Average Math Score
Average_Math = renamed["Math Score"].mean()

# Find Average Reading Score
Average_Reading = renamed["Reading Score"].sum()

# Find % Passing Math 
passing_math = renamed.loc[renamed["Math Score"] >= 70].count(axis=1)  # Find number of passing reading scores as a dataframe
passing_math = passing_math.count()                                    # Convert data frame to count
Percent_Passing_Math = passing_math/Total_Students*100                 # Percent passing is count of passing scores, divided by total students, times 100

# Find % Passing Reading 
passing_reading = renamed.loc[renamed["Reading Score"] >= 70].count(axis=1)  # Find number of passing reading scores as a dataframe
passing_reading = passing_reading.count()                                    # Convert data frame to count
Percent_Passing_Reading = passing_reading/Total_Students*100                 # Percent passing is count of passing scores, divided by total students, times 100

# Find Overall Passing Rate (Average of % Passing Reading and % Passing Math)
Overall_Passing = (Percent_Passing_Math + Percent_Passing_Reading)/2

Summary = {"Total Schools":[Total_Schools],
           "Total Students": [Total_Students],
           "Total Budget": [Total_Budget],
           "Average Math Score": [Average_Math],
           "Average Reading Score": [Average_Reading],
           "% Passing Math": [Percent_Passing_Math],
           "% Passing Reading": [Percent_Passing_Reading],
           "Overall Passing Rate": [Overall_Passing]}
Summary_Table = pd.DataFrame(Summary)
Summary_Table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,3207155,74.980853,85.805463,80.393158

In [81]:
# Test to convert passing reading from data frame to single value
# Find % Passing Reading 
passing_reading = renamed.loc[renamed["Reading Score"] >= 70].count(axis=1)  # Find count of passing math scores
passing_reading = passing_reading.count()
Percent_Passing_Reading = passing_reading/Total_Students*100 

Percent_Passing_Reading
passing_reading

33610

In [ ]:
# SCHOOL SUMMARY
###################