In [1]:
# Import dependencies 
import pandas as pd

# Import CSVs
schools_csv = "Resources/schools_complete.csv"
students_csv = "Resources/students_complete.csv"

# Read CSVs as data frames
school_df = pd.read_csv(schools_csv)
students_df = pd.read_csv(students_csv)

# Merge school and student data frames into single data frame
py_schools_df = pd.merge(school_df, students_df, on="school_name")
py_schools_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [7]:
# Rename Columns
py_schools_df.columns
renamed = py_schools_df.rename(columns ={
                     'school_name':'School Name', 
                     'type': 'Type', 
                     'size':'Size', 
                     'budget':'Budget', 
                     'student_name':'Student Name', 
                     'gender':'Gender', 
                     'grade':"Grade", 
                     'reading_score':'Reading Score', 
                     'math_score':"Math Score"})
renamed

,School ID,School Name,Type,Size,Budget,Student ID,Student Name,Gender,Grade,Reading Score,Math Score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [11]:
# DISTRICT SUMMARY
###################

# Find total number of schools
Schools = renamed["School ID"].unique()
Total_Schools = len(Schools)

# Find total number of students
Total_Students = renamed["Student Name"].count()

# Find Total Budget
school_budget = renamed["Budget"].unique()
Total_Budget = sum(school_budget)

# Find Average Math Score
Average_Math = renamed["Math Score"].mean()

# Find Average Reading Score
Average_Reading = renamed["Reading Score"].sum()

# Find % Passing Math 
passing_math = renamed.loc[renamed["Math Score"] >= 70].count()  # Find count of passing math scores
Percent_Passing_Math = passing_math/Total_Students*100           # Percent passing is count of passing scores, divided by total students, times 100

# Find % Passing Reading 
passing_reading = renamed.loc[renamed["Reading Score"] >= 70].count()  # Find count of passing math scores
Percent_Passing_Reading = passing_reading/Total_Students*100              # Percent passing is count of passing scores, divided by total students, times 100

# Find Overall Passing Rate (Average of % Passing Reading and % Passing Math)
Overall_Passing = (Percent_Passing_Math + Percent_Passing_Reading)/2

# Create dictionary to hold summary data
Summary = [{"Total Schools":Total_Schools},
           {"Total Students": Total_Students},
           {"Total Budget": Total_Budget},
           {"Average Math Score": Average_Math},
           {"Average Reading Score": Average_Reading},
           {"% Passing Math": Percent_Passing_Math},
           {"% Passing Reading": Percent_Passing_Reading},
           {"Overall Passing Rate": Overall_Passing}]
Summary_Table = pd.