### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Import dependencies 
import pandas as pd

# Import CSVs
schools_csv = "Resources/schools_complete.csv"
students_csv = "Resources/students_complete.csv"

# Read CSVs as data frames
school_df = pd.read_csv(schools_csv)
students_df = pd.read_csv(students_csv)

# Merge school and student data frames into single data frame
py_schools_df = pd.merge(school_df, students_df, on="school_name")
py_schools_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [2]:
# Clean data
# Rename Columns
py_schools_df.columns
renamed = py_schools_df.rename(columns ={
                     'school_name':'School Name', 
                     'type': 'School Type', 
                     'size':'Total Students', 
                     'budget':'Total Budget', 
                     'student_name':'Student Name', 
                     'gender':'Gender', 
                     'grade':"Grade", 
                     'reading_score':'Reading Score', 
                     'math_score':"Math Score"})
renamed.head()

,School ID,School Name,School Type,Total Students,Total Budget,Student ID,Student Name,Gender,Grade,Reading Score,Math Score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [3]:
# Look for titles/degrees
doctors = renamed.loc[(renamed["Student Name"].str.contains("Dr."))|
                      (renamed["Student Name"].str.contains("DDS"))|
                      (renamed["Student Name"].str.contains("Mr."))|
                      (renamed["Student Name"].str.contains("Mrs."))|
                      (renamed["Student Name"].str.contains("Ms."))|
                      (renamed["Student Name"].str.contains("DVM"))|
                      (renamed["Student Name"].str.contains("MD"))|
                      (renamed["Student Name"].str.contains("PhD")), :]
doctors.head()

,School ID,School Name,School Type,Total Students,Total Budget,Student ID,Student Name,Gender,Grade,Reading Score,Math Score
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
15,0,Huang High School,District,2917,1910635,15,Dr. Jordan Carson,M,11th,94,88
57,0,Huang High School,District,2917,1910635,57,Madeline Snyder MD,F,9th,97,56
66,0,Huang High School,District,2917,1910635,66,Mr. Dylan Taylor MD,M,10th,77,93
74,0,Huang High School,District,2917,1910635,74,Dr. Scott Gill,M,10th,85,85

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
### Calculate Data for District Summary

# Find total number of schools
Schools = renamed["School ID"].unique()
Total_Schools = len(Schools)

# Find total number of students
Total_Students = renamed["Student Name"].count()

# Find Total Budget
school_budget = renamed["Total Budget"].unique()
Total_Budget = sum(school_budget)

# Find Average Math Score
Average_Math = renamed["Math Score"].mean()

# Find Average Reading Score
Average_Reading = renamed["Reading Score"].sum()

In [5]:
# Find % Passing Math 
passing_math = renamed.loc[renamed["Math Score"] >= 70].count(axis=1)  # Find number of passing reading scores as a dataframe
passing_math = passing_math.count()                                    # Convert data frame to count
Percent_Passing_Math = passing_math/Total_Students*100                 # Percent passing is count of passing scores, divided by total students, times 100

# Find % Passing Reading 
passing_reading = renamed.loc[renamed["Reading Score"] >= 70].count(axis=1)  # Find number of passing reading scores as a dataframe
passing_reading = passing_reading.count()                                    # Convert data frame to count
Percent_Passing_Reading = passing_reading/Total_Students*100                 # Percent passing is count of passing scores, divided by total students, times 100

# Find Overall Passing Rate (Average of % Passing Reading and % Passing Math)
Overall_Passing = (Percent_Passing_Math + Percent_Passing_Reading)/2

In [6]:
# Create summary table for District Summary
# Create dictionary to hold summary data
Summary = {"Total Schools":[Total_Schools],
           "Total Students": [Total_Students],
           "Total Budget": [Total_Budget],
           "Average Math Score": [Average_Math],
           "Average Reading Score": [Average_Reading],
           "% Passing Math": [Percent_Passing_Math],
           "% Passing Reading": [Percent_Passing_Reading],
           "Overall Passing Rate": [Overall_Passing]}
# Convert summary dictionary to dataframe
Summary_Table = pd.DataFrame(Summary)
Summary_Table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,3207155,74.980853,85.805463,80.393158

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [7]:
### Calculate Data for School Summary

# Create a new variable to hold the existing data frame.
summary_df = renamed
summary_df

# # Create a data frame listing School Name, School Type, Total Students, and Total School Budget
School_Summary = summary_df.groupby(["School Name", "School Type", "Total Students", "Total Budget"])

# Find average reading score for each school.  Use groupby School Name, select "mean" function
Average_Reading = School_Summary["Reading Score"].mean()

# Find average math score for each school.  Use groupby School Name, select "mean" function
Average_Math = School_Summary["Math Score"].mean()

In [8]:
# Find % of Passing Reading grades per school

# Find Total Reading per school
Total_Scores = School_Summary.count()
Total_Scores

# Find passing reading scores per school
passing_reading = summary_df.loc[(summary_df["Reading Score"]>=70)]
passing_reading_count = passing_reading.groupby(["School Name", "School Type", "Total Students", "Total Budget"]).count()

# Calculate Percent
Percent_Passing_Reading = (passing_reading_count/Total_Scores)*100

In [9]:
# Find % of Passing Reading grades per school

# Find passing reading scores per school
passing_math = summary_df.loc[(summary_df["Math Score"]>=70)]
passing_math_count = passing_math.groupby(["School Name", "School Type", "Total Students", "Total Budget"]).count()

# Calculate Percent
Percent_Passing_Math = (passing_math_count/Total_Scores)*100

In [10]:
# Calculate overall passing rate (average of passing math and passing reading)
Overall_Passing = (Percent_Passing_Reading + Percent_Passing_Math)/2

In [11]:
# Create dataframe to hold results for School Summary
Summary_Data = pd.DataFrame({"Average Math Score": Average_Math,
                             "Average Reading Score": Average_Reading,
                            "% Passing Reading": Percent_Passing_Reading["Reading Score"],
                            "% Passing Math":  Percent_Passing_Math["Math Score"],
                            "Overall Passing Rate": Overall_Passing["Grade"]
                            })
Summary_Data

,,,,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,Overall Passing Rate
School Name,School Type,Total Students,Total Budget,,,,,
Bailey High School,District,4976,3124928,77.048432,81.033963,81.933280,66.680064,74.306672
Cabrera High School,Charter,1858,1081356,83.061895,83.975780,97.039828,94.133477,95.586652
Figueroa High School,District,2949,1884411,76.711767,81.158020,80.739234,65.988471,73.363852
Ford High School,District,2739,1763916,77.102592,80.746258,79.299014,68.309602,73.804308
Griffin High School,Charter,1468,917500,83.351499,83.816757,97.138965,93.392371,95.265668
Hernandez High School,District,4635,3022020,77.289752,80.934412,80.862999,66.752967,73.807983
Holden High School,Charter,427,248087,83.803279,83.814988,96.252927,92.505855,94.379391
Huang High School,District,2917,1910635,76.629414,81.182722,81.316421,65.683922,73.500171
Johnson High School,District,4761,3094650,77.072464,80.966394,81.222432,66.057551,73.639992
Pena High School,Charter,962,585858,83.839917,84.044699,95.945946,94.594595,95.270270
Rodriguez High School,District,3999,2547363,76.842711,80.744686,80.220055,66.366592,73.293323
Shelton High School,Charter,1761,1056600,83.359455,83.725724,95.854628,93.867121,94.860875
Thomas High School,Charter,1635,1043130,83.418349,83.848930,97.308869,93.272171,95.290520
Wilson High School,Charter,2283,1319574,83.274201,83.989488,96.539641,93.867718,95.203679
Wright High School,Charter,1800,1049400,83.682222,83.955000,96.611111,93.333333,94.972222